body {
    background: url('./image/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

section {
    margin: 20px auto;
}

li, ul {
    list-style: none;
}

#search-button {
    display: block;
}

img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.hidden {
    height: 0!important;
    border: 0!important;
}

.animated {
    animation-duration: 3s;
}

@media (min-width: 321px) and (max-width: 1000px) {
    body {
        background: url('./image/background-medium.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top;
        background-size: cover;
    }
}

@media (max-width: 320px) {
    body {
        background: url('./image/background-small.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top;
        background-size: cover;
    }
}