body {
    background: url('./image/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

section {
    margin: 20px auto;
}

.small-size {
    max-width: 18rem;
    margin-bottom: 10px!important;
}

li, ul {
    list-style: none;
}

#search-button {
    display: block;
}

.no-border {
    border: 0!important;
}

@media (min-width: 321px) and (max-width: 1000px) {
    body {
        background: url('./image/background-medium.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top;
        background-size: cover;
    }
}

@media (max-width: 320px) {
    body {
        background: url('./image/background-small.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top;
        background-size: cover;
    }
}